/* Tudo aqui dentro é CSS — estilo visual da página */

        body {
            /* Estilo geral da página inteira */
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            /* Define a fonte do texto (tenta usar as fontes na ordem, usa a última se não encontrar) */
            background-color: #bfbef8;
            /* Cor de fundo da página (roxo clarinho) */
            margin: 20px;
            /* Espaço entre o conteúdo e a borda da janela */
        }

       

            
       
  
        /* Estilo do cabeçalho do site */

        header { 

            background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcnJpbmJxenJ3c3A5ZmtwNjRnZXRkbmMzY3NwbzR3cTloMGM0NHQzbSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/zW0n7AIWG4ka4/giphy.gif);
            background-color: #1e1e57;
            /* Fundo azul escuro/roxo */
            color: rgb(134, 17, 230);
            /* Cor do texto: branco */
            padding: 20px;
            /* Espaço interno entre o texto e as bordas do cabeçalho */
             text-align: center;
            /* Centraliza o texto */
        }


        /* Estilo dos links dentro da barra de navegação */
        nav a {
            
            color: #ffffff;
            /* Cor dos links: branco */
            margin: 0 30px;
            /* Espaço de 30px; entre cada link (horizontal) */
            text-decoration: none;
            /* Remove o sublinhado padrão dos links */
            font-size: 20px;
            /* Tamanho da fonte dos links */
    
        }

        /* Estilo que aparece quando o mouse passa sobre o link */
        nav a:hover {
            
            text-decoration: underline;
            /* Adiciona sublinhado ao passar o mouse */
            color: rgb(32, 26, 26);
            /* Muda a cor para azul ciano */
        }


        /* Estilo do container que envolve todos os cards */
        .fundo {
            display:flex;
            /* Usa flexbox para organizar os cards lado a lado */
            gap: 10px;
            /* Espaço de 10px entre os cards */
            width: 100%;
            /* Ocupa 10% da largura disponível */
            height: 100%;
            /* Ocupa 100% da altura disponível */
            flex-wrap: wrap;
            /* Permite que os cards quebrem para a linha de baixo quando não couberem */
            justify-content: space-around;
            /* Distribui os cards com espaço igual ao redor */
            margin-top: 10px;
            /* Espaço de 10px acima do container */
        }


        /* Estilo de cada card individualmente */
        .card {   
            width: 300px; /* Largura fixa de 300px */
            height: 350px; /* Altura fixa de 350px */
            align-items: center; /* Centraliza o conteúdo verticalmente */
            text-align: center; /* Centraliza o texto */
            background-color: rgb(93, 90, 186); /* Cor de fundo dos cards (roxo médio) */
            border-radius: 15px; /* Cantos arredondados */
            padding: 10px; 
            
        }

       .card img {
            /* Estilo da imagem dentro de cada card */
            width: 100%;
            /* Imagem ocupa toda a largura do card */
            height: 80%;
            /* Imagem ocupa 80% da altura do card */
            object-fit: cover;
            /* Recorta a imagem para preencher o espaço sem distorcer */
            border-radius: 15px;
            /* Cantos arredondados na imagem */
        }

        .card:hover {
            /* Efeito visual quando o mouse passa sobre o card */
            transform: translateY(-10px) scale(1.02);
            /* Move o card 10px para cima e aumenta levemente o tamanho */
            border-color: #f79708;
            /* Muda a cor da borda para laranja */
            box-shadow: 0 15px 20px #8b4141;
            /* Adiciona uma sombra escura embaixo do card */
           color: white;
            background-image:  url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMDViMjVweWFndHZiaHp0MDN3a3g2d2x0emVjanVkZ3M4MnQzNW5jMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/f6InTwaIAEQUDhL5sK/giphy.gif);
        }

        .subtitulo {
            /* Estilo da div do subtítulo abaixo do cabeçalho */
            text-align: center;
            /* Centraliza o texto */
            color: #ffffff;
            /* Cor do texto: branco */
        }
    </style>